{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["adapter_","root_", "getHelptextAdapterMethods_", "getInputAdapterMethods_", "foundation_", "getControlAdapterMethods_"] }],
    "quotes": [2, "single"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "strict": [2, "never"]
  },
  "plugins": [
    "react"
  ]
}
