{
  "presets": [ "latest", "react", "stage-0"],
  "plugins": ["babel-plugin-add-module-exports", ["lodash", { "id": ["lodash", "recompose"] }]],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
