{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "globals": {},
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies" : 0,
    "import/no-webpack-loader-syntax": 0,
    "indent": ["error", 4, {
      "SwitchCase": 1
    }],
    "max-len": ["error", 1280],
    "no-console": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": ["error", { "allow": ["adapter_", "foundation_", "getControlAdapterMethods_", "getHelptextAdapterMethods_", "getInputAdapterMethods_", "root_"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": [2, 4],
    "react/require-default-props": 0
  },
  "plugins": [
    "react",
    "import",
    "jest",
    "jsx-a11y"
  ]
}
