body.mdc-theme--dark{
  background-color: #303030;
  color: var(--mdc-theme-text-primary-on-dark, white);
}
div.rct-live-example--dark {
  background-color: #303030;
  color: var(--mdc-theme-text-primary-on-dark, white);
}
